# binaries
build
documentation/build
*.aux
*.log
*.nav
*.out
*.pdf
*.snm
*.toc
*.synctex.gz

# scons
site_scons/site_tools/cxxtest.pyc
.sconsign.dblite

# test data
src/unit_tests/middle_states.csv

# JetBrains
.idea/

# Tex
*.vrb
